html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    /* font-family: 'Noto Sans TC', sans-serif; */
    font-family: PingFang TC, Microsoft JhengHei, Helvetica Neue, Helvetica, source-han-sans-traditional, Arial, "sans-serif";
    ;
    display: grid;
    font-style: normal;
    /* grid-template-rows: 54px 1fr; */
    background-color: #f8f8f8;
}

input {
    outline: 0;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0 0 0 10px;
}

.page-container {
    position: relative;
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
}

.page-wrapper {
    padding-bottom: 104px;
    /* Footer height */
    display: grid;
    grid-template-rows: 54px 1fr;
}


/* 上方navbar */

.topnav-container {
    z-index: 5;
    /* display: flex; */
    position: sticky;
    grid-row: 1/2;
    width: 100%;
    top: 0;
    justify-content: center;
    border-bottom: 1px solid #E8E8E8;
    background-color: #f8f8f8;
}

.topnav {
    width: 100%;
    display: grid;
    height: 54px;
    grid-template-columns: 1fr 76px 76px 88px;
    grid-template-rows: 1fr;
    box-shadow: 0 4px 5px -5px grey;
}


/* navbar大字 */

#nav-title {
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
    /* color: #0700d1; */
    margin: 0 0 0 160px;
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;
    padding-left: 80px;
    text-decoration: none;
    background: #1800ca;
    background: linear-gradient(to top, #1800ca 0%, #4C63EE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* navbar右邊兩排小字 */

#nav-item0 {
    grid-column: 2/3;
    justify-self: right;
    align-self: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2e2e2e;
    border: none;
    cursor: pointer;
    background-color: #f8f8f8;
    text-decoration: none;
}

#nav-item1 {
    grid-column: 3/4;
    justify-self: right;
    align-self: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2e2e2e;
    border: none;
    cursor: pointer;
    background-color: #f8f8f8;
    text-decoration: none;
}

#nav-item0-a,
#nav-item1-a,
#nav-item2-a,
#nav-item0-a:visited,
#nav-item1-a:visited,
#nav-item2-a:visited {
    color: #2e2e2e;
}

#nav-item2,
#mem-dropdown {
    grid-column: 4/5;
    justify-self: right;
    align-self: center;
    font-family: 'Noto Sans TC', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #2e2e2e;
    border: none;
    margin-right: 10px;
    padding: 0;
    cursor: pointer;
    background-color: #f8f8f8;
}

#cart-item {
    position: absolute;
    right: 80px;
    top: 5px;
    background: #d10000;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
}

.carousel-container,
.product-container,
.product-detail-container,
.product-photos-container,
.member.info,
.login-container,
.wear-desc,
.wear-pics-container,
.mywear-container,
.mywear-pics-container,
.mywear-option-container,
.category-wrapper,
.wear-single-container,
.other-wears-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    /* border-bottom: 1px solid #E8E8E8; */
    background-color: #f8f8f8;
}


/*index.html*/

.category {
    /* margin: 0 0 0 50px; */
    height: 40px;
    line-height: 40px;
}

.category-wrapper {
    box-shadow: 0 4px 5px -5px grey;
}

.category>div {
    display: inline-block;
    margin: 0px 20px;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    color: #2e2e2e;
    cursor: pointer;
}

.category>div:hover {
    border-bottom: 2px solid #424242;
}

#index-carousel {
    margin: 20px 0 20px;
    height: 500px;
    /* background: #555555; */
}

#index-carousel>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* padding: 0 20px; */
}

.main-container {
    margin: 21px 0 0;
}

.catalogue-container {
    display: flex;
    width: 100%;
    justify-content: center;
    /* border-bottom: 1px solid #E8E8E8; */
    background-color: #f8f8f8;
    /* height: 1737px; */
}

#catalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0 20px;
    /* background: #ffcdcd; */
}

[id^="box"] {
    flex: none;
    float: left;
    display: grid;
    grid-template-rows: 320px 30px 30px;
    width: 330px;
    /* height: 320px; */
    margin: 12px;
    text-align: center;
    /* border-radius: 5px;
    border: 1px solid #E8E8E8; */
    /* background: #555555; */
    /* text-align: center; */
    grid-template-areas: "img" "name" "price";
    text-decoration: none;
    color: #2e2e2e
}

[id^="box"]>img {
    grid-area: img;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

[id^="box"]>img:hover {
    box-shadow: 0px 5px 15px 2px #c0c0c0;
}

#spinner {
    background-image: url("../static/photo/spinner6.gif");
    grid-area: img;
    width: 270px;
    height: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px 80px;
    width: 100%;
    height: 100%;
    /* background: #f1f2f3; */
}

#product-name {
    line-height: 30px;
    grid-area: name;
    text-align: left;
}

#price {
    line-height: 30px;
    grid-area: price;
    text-align: left;
}

#catalogue-page {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

#catalogue-page>li {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}


/*product.html  wear_single.html*/

.product {
    display: grid;
    grid-template-columns: 6fr 4fr;
    height: 600px;
    /* border-bottom: 1px solid #E8E8E8; */
    column-gap: 30px;
}

#product-detail {
    margin: 50px 0 0;
    padding: 20px 0 0;
    border-top: 1px solid #e8e8e8;
}

#product-detail>div {
    margin: 20px;
}

#product-photos>img {
    height: 1000px;
    display: block;
    margin: 30px;
}

.wear-single {
    margin: 20px 0 0;
    border: 1px solid #d3d3d3;
    display: grid;
    grid-template-columns: 6fr 4fr;
    height: 600px;
    /* border-bottom: 1px solid #E8E8E8; */
    /* column-gap: 30px; */
}

#wear-caresoul {
    border-right: 1px solid #d6d6d6;
}

#wear-caresoul img {
    object-fit: cover;
}


/* #wear-desc>div {
    padding: 0 20px;
    height: 470px;
    overflow-y: auto;
} */

#wear-desc #photo-sticker {
    height: 50px;
    width: 50px;
    margin: auto 0 auto 20px;
    border-radius: 50%;
    object-fit: cover;
}

#wear-products>a {
    display: flex;
    margin: 10px 0;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    text-decoration: none;
    color: #2e2e2e;
}

#wear-products img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#wear-products span {
    line-height: 80px;
    padding: 0 0 0 10px;
}

#product-caresoul,
#wear-caresoul {
    width: 100%;
    height: 100%;
    /* background: #ffcdcd; */
    /* display: flex; */
    /* position: relative;
    justify-content: center; */
}

#other-wears {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-template-rows: 300px;
}

#other-wears img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

#other-wears img:hover {
    box-shadow: 0px 5px 15px 2px #c0c0c0;
}

#product-desc {
    width: 100%;
    height: 80%;
    align-self: center;
    /* background: darkseagreen; */
    /* display: grid; */
    /* grid-template-rows: 3fr 10fr; */
    /* margin-top: 15px; */
    /* height: 392px; */
}

#product-desc>div {
    margin: 15px;
}

#product-desc>label {
    margin: 15px;
}

#wear-desc {
    width: 100%;
    height: 600px;
}

#product_name,
#product_price {
    font-size: 20px;
}

#product-desc>#price {
    font-size: 30px;
}


/* .col-box,
.size-box {
    display: inline-flex;
    width: 40px;
    padding: 5px;
} */

.size-list {
    list-style: none;
    display: flex;
}

.size-list>li {
    margin: 5px 10px;
    float: left;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0 10px;
    padding: 0 10px;
    cursor: pointer;
}

.labl {
    display: inline-block;
}

.labl>input {
    /* HIDE RADIO */
    visibility: hidden;
    /* Makes input not-clickable */
    position: absolute;
    /* Remove input from document flow */
}

.labl>input+div {
    /* DIV STYLES */
    cursor: pointer;
    border: 2px solid transparent;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.labl>input:checked+div {
    /* (RADIO CHECKED) DIV STYLES */
    border-radius: 5px;
    background-color: #e7e7e7;
    border: 1px solid #5868ff;
    height: 40px;
    width: 40px;
}

#prod-qty {
    height: 25px;
    width: 40px;
}

#cart-btn {
    display: block;
    background: #0b0bb7;
    border-radius: 3px;
    color: white;
    border: none;
    margin: 15px;
    width: 130px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.carousel {
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.carousel>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    height: 600px;
    width: 100%;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    /* padding-top: 37px;
    padding-bottom: 37px; */
}

.slide>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* border-radius: 5px; */
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    height: 36px;
    width: 36px;
    /* top: 185px; */
}

.carousel-button img {
    position: relative;
    width: 36px;
    height: 36px;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.carousel-button:hover {
    color: white;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;
}

.carousel-button.prev {
    left: 10px;
    padding: 0px;
}

.carousel-button.next {
    right: 10px;
    padding: 0px;
}

.data-switch-input {
    position: absolute;
    z-index: 3;
    bottom: 13px;
    background: none;
    border: none;
}

.data-switch-input-btn:after {
    width: 11px;
    height: 11px;
    margin: 2px;
}

.data-switch-input-btn:checked:after {
    position: relative;
    border-radius: 10px;
    top: -1px;
    left: -1px;
    background-color: #2e2e2e;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #FFFFFF;
}


/* CART */

#cart-table {
    margin: 50px 15px;
    width: 100%;
    border-collapse: collapse;
}

#cart-table th {
    color: #2e2e2e;
    border-bottom: 1px solid #dfdfdf;
}

#cart-table td {
    text-align: center;
    font-weight: 100;
    color: #2e2e2e;
    height: 150px;
    border-collapse: collapse;
    border-bottom: 1px solid #dfdfdf;
}

#cart-table img {
    height: 85%;
    border-radius: 5px;
}

#confirm-cart {
    display: none;
}

#sum-block {
    float: right;
    margin: 0 100px 0 0;
    font-size: 20px;
    text-align: right;
    background: #e0e0e0;
    width: 500px;
    height: 200px;
}

#sum-block>div {
    margin: 30px;
    font-weight: 100;
}

#cancel-cart {
    width: 20px;
    height: 20px;
    padding: 3px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

#cancel-cart img {
    height: 100%;
}

#keep-buy {
    width: 40%;
    height: 40px;
    float: left;
    /* text-align: center; */
    background: #f8f8f8;
    /* color: #494949; */
    border: none;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: 100;
    font-size: 20px;
    /* align-self: center; */
    /* display: block; */
    cursor: pointer;
}

#check-btn {
    width: 40%;
    height: 40px;
    /* text-align: center; */
    background: #6f6f6f;
    color: white;
    border: none;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: 100;
    font-size: 20px;
    /* align-self: center; */
    /* display: block; */
    cursor: pointer;
}

#keep-buy>a {
    font-weight: bold;
    /* color: #574d4d; */
    text-decoration: none;
    background: #2548c0;
    background: linear-gradient(to top, #2548c0 0%, #4C63EE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#check-btn>a {
    color: white;
    text-decoration: none;
}

#check-btn>a:visited {
    color: white;
}


/* checkout */

#backdrop-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(2px);
}

#backdrop {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-image: url(../static/photo/spinner4.gif);
    position: absolute;
    z-index: 5;
    backdrop-filter: blur(2px);
}

#backdrop-text {
    width: 200px;
    height: 200px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 6;
    font-size: 20px;
    font-weight: bold;
}

#checkout-table {
    display: grid;
    grid-template-columns: 4fr 6fr;
    height: 550px;
    border-bottom: none;
    column-gap: 0px;
}

#checkout-table th:nth-child(3),
#checkout-table th:nth-child(6),
#checkout-table td:nth-child(3),
#checkout-table td:nth-child(6) {
    display: none;
}

#checkout-table th {
    color: #2e2e2e;
    border-bottom: 1px solid #a8a8a8;
}

#checkout-table td {
    font-size: 14px;
    text-align: center;
    font-weight: 100;
    color: #2e2e2e;
    height: 80px;
    border-collapse: collapse;
    border-bottom: 1px solid #a8a8a8;
}

#checkout-table img {
    border-radius: 3px;
    width: 70px;
    height: 70px;
}

#checkout-sum-block {
    height: 180px;
    width: 100%;
    padding: 10px 0;
    background: #f1f1f1;
    text-align: left;
    font-size: 14px;
    box-shadow: 0px -8px 8px -5px #d7d7d7;
}

#checkout-sum-block>div {
    margin: 10px;
    text-align: left;
}

#checkout-block {
    width: 100%;
    align-self: center;
    text-align: center;
}

#to-cart-btn {
    font-weight: bold;
    font-size: 16px;
    margin: 10px;
    color: #574d4d;
    border: none;
    float: right;
}

#to-cart-btn>a:visited,
#to-cart-btn>a {
    color: #2215d1;
    ;
    text-decoration: none;
}

#confirm-button {
    border: none;
    background: #454fe4;
    width: 150px;
    height: 50px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

.payment-info {
    margin: 0 0 0 30px;
}

#forest-ext-shadow-host {
    height: 0px;
}

#logistic input,
.form-control,
#contact-name,
#contact-email,
#contact-number,
#card-number,
#valid-thru,
#Validation {
    width: 220px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding-left: 10px;
}

.form-control {
    display: inline-block;
    margin-left: 8px;
}

.form-group {
    /* display: flex; */
    align-items: center;
    margin: 0 80px 15px 0;
}


/* order */

#orders-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    /* border-bottom: 1px solid #E8E8E8; */
    background-color: #f8f8f8;
}

#orders {
    font-size: 16px;
    font-weight: 400;
}

#table-header {
    /* background: #3b3bdd;
    color: #FFFFFF; */
    background: #d9d9d9;
    color: #2e2e2e;
}

#orders table,
#orders th,
#orders td {
    /* border: 0; */
    border-collapse: collapse;
    font-size: 14px;
    font-weight: 400;
    height: 20px;
}

#table-header td:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#table-header td:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#orders table {
    width: 100%;
    text-align: center;
    margin: 20px 0 0;
}

#hidden-detail {
    margin-bottom: 20px;
    border-bottom: 1px solid #E8E8E8;
    overflow: hidden;
    transition: height 300ms;
    height: 0;
}

#hidden-detail span {
    margin: 15px;
}

#hidden-detail span:nth-child(2) {
    padding-left: 20px;
}

#hidden-detail img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#plus-btn-img {
    width: 12px;
    height: 12px;
    cursor: pointer;
}

#order-detail-btn {
    font-weight: bold;
    /* width: 110px; */
    height: 30px;
    font-size: 14px;
    background: #f8f8f8;
    color: #424242;
    border: none;
    cursor: pointer;
    margin: 10px 0 10px;
}

#hidden-detail>div {
    margin: 5px 0 5px;
    display: grid;
    margin: 5px 0 5px;
    grid-template-columns: 10% 40% 10% 10% 20% 10%;
    grid-template-rows: 80px;
    align-items: center;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

#member-info>div {
    margin: 5px 0 5px;
}

#order-detail {
    height: 320px;
    display: none;
    z-index: 101;
    border-radius: 6px;
    background: white;
    margin: 100px 10px 10px;
}

#order-detail>div {
    margin: 10px 20px 10px;
    font-weight: 700;
}

#order-detail>div>span {
    font-weight: 400;
}

#order-detail-close-icon {
    position: relative;
    float: right;
    margin: 25px 10px 10px;
    z-index: 102;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}


/* login */

#login-method {
    text-align: center;
    margin: 60px 0 0;
}

.login {
    margin: 0px 0 20px;
    height: 600px;
}

#login-form>input,
#signup-message {
    display: block;
    width: 388px;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 10px;
    font-size: 16px;
    margin: 20px 10px 0;
    border-radius: 3px;
    border: 1px solid #868686;
    outline: 0;
}

#signup-message {
    border: none;
    text-align: center;
    color: red;
}

#reset-pw {
    display: block;
    width: 414px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin: 0 10px 30px;
    color: #2e2e2e;
}

#signin-btn,
#signup-btn {
    display: block;
    width: 400px;
    height: 40px;
    line-height: 35px;
    font-size: 20px;
    margin: 40px 10px 15px;
    border-radius: 3px;
    border: none;
    color: white;
    background: #0700d1;
    cursor: pointer;
}


/* .google-signin {
    margin: 0 10px 0;
    display: flex;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    align-items: center;
    padding: 5px;
}

.google-signin>div {
    margin: 0 5px 0;
    color: #2e2e2e;
} */


/*member.heml*/

#mem-dropdown {
    grid-row: 1;
    display: none;
    appearance: none;
    outline: none;
}

#mem-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.member-info>input {
    display: block;
    height: 30px;
    width: 400px;
    margin: 15px;
    border-radius: 5px;
    border: 1px solid gray;
}

.member-info>div {
    display: block;
    height: 30px;
    /* width: 400px; */
    margin: 15px;
    text-align: left;
    /* border-radius: 5px;
    border: 1px solid gray; */
}

#update-member-btn {
    width: 100px;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    background: #3a41e1;
    color: white;
    border: 0;
    cursor: pointer;
    margin: 20px 0 0;
}

#update-member-msg,
#noUpdate-pw-msg,
#okUpdate-pw-msg {
    display: none;
    position: absolute;
    z-index: 2;
    top: 60px;
    color: #2e2e2e;
    width: 350px;
    height: 40px;
    background: #ffffff;
    line-height: 40px;
    padding: 5px 10px;
    box-shadow: 0px 8px 8px #d7d7d7;
    border-radius: 3px;
}


/* wear.html */

.wear-wrapper {
    margin: 20px;
}

.pics-set {
    display: grid;
    grid-template-areas: "pic1 pic1 pic2" "pic1 pic1 pic3" "pic4 pic5 pic6" "pic7 pic8 pic8" "pic9 pic8 pic8" "pic10 pic11 pic12";
    grid-gap: 10px;
    margin: 0 0 25px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.pics-set>div {
    position: relative;
}

#wear-member-name {
    position: absolute;
    /* top: 60%;
    left: 50%;
    transform: translate(-50%, -60%); */
    text-decoration: none;
    color: transparent;
    height: 125%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wear-member-name:hover {
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: white;
}

#wear-photo-sticker {
    display: none;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    opacity: 90%;
    margin-bottom: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
}

#wear-member-name:hover #wear-photo-sticker {
    display: block;
}

.pics-set img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

#pic1 {
    grid-area: pic1;
}

#pic2 {
    grid-area: pic2;
}

#pic3 {
    grid-area: pic3;
}

#pic4 {
    grid-area: pic4;
}

#pic5 {
    grid-area: pic5;
}

#pic6 {
    grid-area: pic6;
}

#pic7 {
    grid-area: pic7;
}

#pic8 {
    grid-area: pic8;
}

#pic9 {
    grid-area: pic9;
}

#pic10 {
    grid-area: pic10;
}

#pic11 {
    grid-area: pic11;
}

#pic12 {
    grid-area: pic12;
}


/* mywear.html */

.mywear-container {
    margin: 30px 0 0;
}

.mywear-profile {
    display: flex;
    justify-content: center;
    /* display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 50px; */
    margin-bottom: 10px;
    /* padding: 0 0 45px 0; */
    border-bottom: 1px solid #d0d0d0;
    text-align: center;
}

#mywear-profile-pic>img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid #d0d0d0;
}

#mywear-desc {
    padding: 20px;
}

.mywear-option-container {
    margin: 0 0 20px;
}

.submit-window-block {
    display: none;
    justify-content: center;
}

#submit-window {
    position: fixed;
    z-index: 1;
    top: 100px;
    width: 700px;
    height: 600px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #888888;
}

#submit-window>#bar {
    text-align: center;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #d0d0d0;
    background: linear-gradient(to top, #4738bd 0%, #566be5 100%);
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#submit-window>#bar>img {
    position: absolute;
    top: 10px;
    right: 12px;
}

#preview-container {
    z-index: 0;
    width: 500px;
    height: 405px;
    position: absolute;
    top: 210px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#preview-cncl-btn {
    display: none;
    z-index: 6;
    position: absolute;
    width: 25px;
    opacity: 80%;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.upload-container {
    position: relative;
    display: none;
    justify-content: center;
    margin: 20px 0 0;
    height: 450px;
}

#upload-container-1,
#upload-container-2,
#upload-container-3 {
    height: 550px;
    width: 100%;
    background: #ffffff;
    position: absolute;
    top: 20px;
    z-index: 8;
    border-top: 1px solid #e7e7e7;
}

.upload-container label,
.upload-container input {
    border: 1px solid #92b0b3;
    background: #ffffff;
    outline: 2px dashed #414de5;
    outline-offset: -10px;
    padding: 200px 50px;
    text-align: center !important;
    width: 500px;
    border-radius: 10px;
    color: gray;
    height: 400px;
    margin: 10px 0 0;
}

#upload-label {
    background-image: url("../static/photo/add_pic.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px 60px;
    line-height: 100px;
    font-weight: bold;
}

.upload-container input[type='file'] {
    color: transparent;
    /* display: none; */
    opacity: 0;
    z-index: 2;
    position: absolute;
    cursor: pointer;
}

#select-cate {
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0 0;
}

#select-cate>div {
    width: 100%;
    height: 30px;
    line-height: 30px;
    /* padding: 0 0 0 30px; */
    font-size: 16px;
    /* background: #f3f3f3; */
    text-align: center;
    font-weight: bold;
    color: #363b3f;
    /* border: 1px solid #d9d9d9;*/
}

#select-cate td {
    width: 50%;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
}

#select-cate table {
    width: 100%;
    border-collapse: collapse;
    background: #f3f3f3;
    text-align: center;
    border-radius: 10px;
    color: #2e2e2e;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    /* white-space: nowrap; */
    /* background-color: transparent;*/
}

#select-cate table tr td {
    border: 1px solid #ffffff;
}

#cate-catalogue {
    width: 95%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
}

[id^="sub-item"] {
    height: 80px;
    width: 45%;
    display: flex;
    margin: 10px;
    cursor: pointer;
}

[id^="sub-item"] img {
    width: 80px;
    height: 80px;
    /* display: inline-block; */
    object-fit: cover;
}

#sub-item-name {
    height: 80px;
    line-height: 80px;
    text-align: left;
    font-size: 14px;
    width: 100%;
    margin: 0 0 0 10px;
    /* display: inline-block; */
}

[id^="selected-item"] {
    position: absolute;
    top: 400px;
    margin-top: 20px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

[id^="selected-item"]>div>div {
    padding: 0 5px 0 0;
}

#selected-id {
    background-image: url("../static/photo/close.png");
}

[id^="selected-item"]>div {
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    height: 25px;
    padding: 2px;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 0 5px;
}

[id^="selected-item"] img {
    height: 70%;
    margin: 0 5px;
    cursor: pointer;
}


/* 
.upload-container input:hover {
    background: #ddd;
} */

.upload-container:before {
    position: absolute;
    bottom: 50px;
    right: 333px;
    /* content: "新增相片或拖曳"; */
    color: #3d46e3;
    font-weight: 900;
}

.upload-btn {
    padding: 7px 20px;
    background: #ffffff;
    border: 1px solid #2d28d9;
    border-radius: 5px;
    color: #2d28d9;
    cursor: pointer;
    font-weight: bold;
}

.upload-btn:hover {
    /* background: #2d28d9; */
    background: linear-gradient(to top, #3422c6 0%, #4e67fb 100%);
    color: white;
}

#file-ip-1-preview {
    display: none;
    height: 100%;
    z-index: 5;
    width: 100%;
    object-fit: cover;
    background: #939393;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#show-submit-window {
    background: #f8f8f8;
    color: #515151;
    width: 150px;
    height: 38px;
    text-align: center;
    border-radius: 5px;
    line-height: 38px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    margin: 20px 0;
    border: 1px solid #bbb;
}

.three-pics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px;
    grid-gap: 25px;
}

.three-pics>div {
    margin: 0 0 25px;
}

.three-pics img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.three-pics img:hover {
    box-shadow: 0px 5px 15px 2px #c0c0c0;
}

.mem-footer-container,
.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #868686;
    background-color: #f8f8f8;
    text-align: center;
    line-height: 50px;
    /* border-top: 1px solid #E8E8E8; */
}

#cart-footer,
#index-footer {
    position: absolute;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #868686;
    background-color: #f8f8f8;
    text-align: center;
    line-height: 50px;
    border-top: 1px solid #E8E8E8;
}

#checkout-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #868686;
    background-color: #f8f8f8;
    text-align: center;
    line-height: 50px;
    border-top: 1px solid #E8E8E8;
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    font-size: 16px;
    color: #868686;
    background-color: #f8f8f8;
    text-align: center;
    line-height: 50px;
    border-top: 1px solid #E8E8E8;
}

@media screen and (min-width:1200px) {
    #index-carousel,
    .category,
    #orders {
        width: 950px;
    }
    .product,
    #product-detail,
    .wear-single,
    #other-wears {
        width: 900px;
    }
    .wear-desc-content,
    .wear-pics,
    .mywear-profile,
    .mywear-pics {
        width: 800px;
    }
    #checkout-table {
        width: 100%;
    }
    #catalogue {
        width: 1000px;
    }
    [id^="box"] {
        width: 30%;
        object-fit: cover;
    }
}

@media screen and (max-width:1200px) {
    #index-carousel,
    .category,
    #orders {
        width: 950px;
    }
    .product,
    #product-detail,
    .wear-single,
    #other-wears {
        width: 900px;
    }
    .wear-desc-content,
    .wear-pics,
    .mywear-profile,
    .mywear-pics {
        width: 80%;
    }
    #checkout-table {
        width: 100%;
    }
    #catalogue {
        width: 1000px;
    }
}

@media screen and (max-width:960px) {
    #index-carousel,
    .category,
    #orders {
        width: 100%;
    }
}

@media screen and (max-width:1000px) {
    .product,
    #product-detail,
    .wear-single,
    #other-wears {
        width: 100%;
    }
    .wear-desc-content,
    .wear-pics,
    .mywear-profile,
    .mywear-pics {
        width: 80%;
    }
    #catalogue {
        width: 100%;
    }
}