<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>SHOPWEAR</title>
    <link rel="stylesheet" type="text/css" href="../static/mainstyle.css">
    <script type="text/javascript" src="../static/script/script.js"></script>
</head>

<body id="body">
    <div id="backdrop-wrapper" style="display: none;">
        <div id="backdrop-text">訂單處理中</div>
        <div id="backdrop"></div>
    </div>
    <div class="page_container">
        <div class="page-wrapper" style="padding-bottom: 0;">

            <div class="product" id="checkout-table">
                <div>
                    <div style="display: block;height: 520px; background: #f1f1f1;overflow-y: auto;overflow-x: hidden;">
                        <table id="cart-table" style="margin: 20px 0 0;">
                            <thead id="tb-header">
                                <th style="width: 15%;">商品明細</th>
                                <th style="width: 30%;"></th>
                                <th style="width: 15%;"></th>
                                <th style="width: 15%;"></th>
                                <th style="width: 15%;"></th>
                                <th style="width: 60px;"></th>
                            </thead>
                        </table>
                    </div>
                    <div id="checkout-sum-block">
                        <div><span>商品總計</span><span style="float: right;" id="cart-sum"></span></div>
                        <div><span>運費</span><span style="float: right;" id="cart-fee"></span></div>
                        <div style="font-weight: bold; border-top:1px solid gray"><span style="font-size: 18px;">付款總金額</span><span style="float: right;font-size: 18px;" id="cart-total"></span></div>
                        <button id="to-cart-btn"><a href="/cart">&lt;&lt;返回購物車</a></button>
                    </div>
                </div>

                <div id="checkout-block">
                    <a id="nav-title" href="/" style="margin: 0;">SHOPWEAR</a>
                    <form style="height: 580px;">
                        <div class="payment-info">
                            <div style="font-size: 19px; font-weight: 700; margin: 44px 0px 24px 0px;">付款資訊</div>
                            <div class="form-group card-number-group">
                                <label for="card-number" class="control-label">卡片號碼： </label>
                                <div id="card-number" name="card-number" class="form-control card-number"></div>
                            </div>
                            <div class="form-group expiration-date-group">
                                <label for="expiration-date" class="control-label">過期時間： </label>
                                <div name="expiration-date" class="form-control expiration-date" id="tappay-expiration-date"></div>
                            </div>
                            <div class="form-group cvc-group" style="margin-bottom: 43px;">
                                <label for="cvc" class="control-label">驗證密碼： </label>
                                <div id="cvc" name=" cvc " class="form-control cvc"></div>
                            </div>
                            <div id="card-err-msg" style="display: none; font-size: 19px; color: red;">信用卡資料不正確，請重新輸入</div>
                            <!-- <div id="total-price">總價：新台幣 <span></span> 元</div><br> -->
                            <div id="logistic">
                                <div id="receiver" style="font-size: 19px; font-weight: 700; margin: 44px 0px 24px 0px;">收件人資料</div>
                                <div><label for="receiver-name">姓名 : </label><input id="receiver-name" type="text" placeholder="姓名" style="margin: 0 60px 20px 20px;"></div>
                                <div><label for="receiver-number">手機  : </label><input id="receiver-number" type="tel" placeholder="EX:0912345678" style="margin: 0 60px 20px 20px;"></div>
                                <div><label for="receiver-address">出貨地址 : </label><input id="receiver-address" type="text" placeholder="請詳細填寫" style="margin: 0 90px 20px 20px;"></div>
                            </div>
                            <button id="confirm-button" type="submit" class="btn btn-default">確認送出</button>
                        </div>
                    </form>
                    <!-- <div id="checkout-footer-container">
                        <div id="checkout-footer">SHOPWEAR</div>
                    </div> -->
                </div>
            </div>

        </div>
    </div>
    <div id="footer">SHOPWEAR</div>


    <script>
        window.onload = () => {
            loggedIn();
            showCart();
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://js.tappaysdk.com/tpdirect/v5.9.0"></script>
    <script>
        TPDirect.setupSDK(124007, 'app_X8jtqiiGoJSvEyhpZcog4DuLrqIfrmbbPHty7vQPS9gGdnqmmzeNtChLM5rA', 'sandbox')
        TPDirect.card.setup({
            fields: {
                number: {
                    element: '.form-control.card-number',
                    placeholder: '**** **** **** ****'
                },
                expirationDate: {
                    element: document.getElementById('tappay-expiration-date'),
                    placeholder: 'MM / YY'
                },
                ccv: {
                    element: $('.form-control.cvc')[0],
                    placeholder: 'CVV'
                }
            },
            styles: {
                'input': {
                    'color': 'gray'
                },
                'input': {
                    'font-size': '16px'

                },
                ':focus': {
                    'color': 'black'
                },
                '.valid': {
                    'color': 'green'
                },
                '.invalid': {
                    'color': 'red'
                },
                '@media screen and (max-width: 400px)': {
                    'input': {
                        'color': 'orange'
                    }
                }
            }
        })
        TPDirect.card.onUpdate(function(update) {
            if (update.canGetPrime) {
                $('button[type="submit"]').removeAttr('disabled')
            } else {
                $('button[type="submit"]').attr('disabled', true)
            }
        })
        $('form').on('submit', function(event) {
            event.preventDefault()
                // let name = document.getElementById("contact-name").value;
                // let email = document.getElementById("contact-email").value;
                // let number = document.getElementById("contact-number").value;
                // let emailRegex = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,8})$/;
                // let numberRegex = /^09[0-9]{8}$/;
                // if (name === "" | email === "" | number === "") {
                //     document.getElementById("contact-err-msg").style.display = "block";
                //     document.getElementById("card-err-msg").style.display = "none";
                //     return
                // } else {
                //     document.getElementById("contact-err-msg").style.display = "none";
                // }
                // if (!emailRegex.test(email)) {
                //     document.getElementById("contact-err-msg").innerHTML = "請輸入正確信箱格式";
                //     document.getElementById("contact-err-msg").style.display = "block";
                //     document.getElementById("card-err-msg").style.display = "none";
                //     return;
                // }
                // if (!numberRegex.test(number)) {
                //     document.getElementById("contact-err-msg").innerHTML = "請輸入正確手機號碼格式";
                //     document.getElementById("contact-err-msg").style.display = "block";
                //     document.getElementById("card-err-msg").style.display = "none";
                //     return;
                // }

            const tappayStatus = TPDirect.card.getTappayFieldsStatus()
                // console.log("tappayStatus")
                // console.log(tappayStatus)
            document.getElementById("backdrop-wrapper").style.display = "block";

            // Check TPDirect.card.getTappayFieldsStatus().canGetPrime before TPDirect.card.getPrime
            if (tappayStatus.canGetPrime === false) {
                alert('can not get prime')
                document.getElementById("card-err-msg").style.display = "block";
                document.getElementById("contact-err-msg").style.display = "none";
                return
            }

            // Get prime
            TPDirect.card.getPrime(function(result) {
                if (result.status !== 0) {
                    alert('get prime error ' + result.msg)
                    document.getElementById("card-err-msg").style.display = "block";
                    return
                }
                document.getElementById("card-err-msg").style.display = "none";
                // confirmBooking();
                send_order(result.card.prime);
            })
        })
    </script>
</body>

</html>