<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>SHOPWEAR</title>
    <link rel="stylesheet" type="text/css" href="../static/mainstyle.css">
    <script type="text/javascript" src="../static/script/script.js"></script>
    <script>
        window.onload = () => {
            showProducts();
            loggedIn();
            showCart();
        }
    </script>
</head>

<body id="body">
    <div class="page_container">
        <div class="page-wrapper">
            <div class="topnav-container ">
                <div class="topnav">
                    <a id="nav-title" href="/">SHOPWEAR</a>
                    <button class="nav-item1" id="nav-item1"><a id="nav-item1-a" style="text-decoration: none;" href="/cart">購物車</a></button>
                    <div id="cart-item" style="display: none;"></div>
                    <button class="nav-item2" id="nav-item2"><a id="nav-item2-a" style="text-decoration: none;" href="/login">會員登入</a></button>
                    <select class="mem-dropdown" id="mem-dropdown" onchange="if (this.selectedIndex==3) logout(); if (this.selectedIndex==1) location = this.value;if (this.selectedIndex==2) location = this.value;">
                        <option value="" disabled selected>會員選單</option>
                        <option id="drowpdown-mem-info" value="member"><a id="drowpdown-mem-info-a" href="/member">會員資料</a></option>
                        <option id="drowpdown-mem-info" value="password"><a id="drowpdown-mem-info-a" href="/password">更改密碼</a></option>
                        <option id="dropdown-logout">登出</option>
                    </select>
                </div>
            </div>

            <div class="main-container" id="main-container">

                <div class="carousel-container">
                    <div id="index-carousel">
                        <img src="../static/photo/sample5.jpg">
                    </div>
                </div>


                <div class="catalogue-container">
                    <div class="catalogue" id="catalogue">

                    </div>
                </div>



                <div id="end"></div>
            </div>
        </div>
        <!-- <div id="index-footer">
            <div id="footer">SHOPWEAR</div>
        </div> -->
    </div>
    <div id="footer">SHOPWEAR</div>



</body>

</html>