<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>SHOPWEAR</title>
    <link rel="stylesheet" type="text/css" href="../static/mainstyle.css">

</head>

<body id="body">
    <div class="page_container">
        <div class="page-wrapper">
            <div class="topnav-container ">
                <div class="topnav">
                    <a id="nav-title" href="/">SHOPWEAR</a>
                    <button class="nav-item1" id="nav-item1"><a id="nav-item1-a" style="text-decoration: none;">購物車</a></button>
                    <button class="nav-item2" id="nav-item2"><a id="nav-item2-a" style="text-decoration: none;" href="/login">會員登入</a></button>
                </div>
            </div>

            <div class="main-container" id="main-container">

                <div class="carousel-container">
                    <div id="index-carousel">
                        <img src="../static/photo/sample1.jpg">
                    </div>
                </div>


                <div class="catalogue-container">
                    <div class="catalogue" id="catalogue">

                    </div>
                </div>



                <div id="end"></div>
            </div>
        </div>
        <div class="footer-container">
            <div id="footer">SHOPWEAR</div>
        </div>
    </div>

    <script type="text/javascript" src="../static/script/script.js"></script>
    <script>
        window.onload = () => {
            showProducts();
        }
    </script>

</body>

</html>