<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>SHOPWEAR</title>
    <link rel="stylesheet" type="text/css" href="../static/mainstyle.css">
    <script type="text/javascript" src="../static/script/script.js"></script>
    <style>
        #wear-upload-spinner {
            display: none;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            z-index: 6;
        }
        
        #wear-upload-spinner svg {
            color: rgb(229, 231, 235);
            height: 70px;
            width: 70px;
            fill: #2d28d9;
        }
        
        .animation-spin {
            -webkit-animation: spin 1s infinite linear;
            animation: spin 1s infinite linear;
        }
        
        @keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
            }
        }
    </style>
</head>

<body id="body">
    <div class="page-wrapper">
        <div class="topnav-container ">
            <div class="topnav">
                <a id="nav-title" href="/">SHOPWEAR</a>
                <button class="nav-item1" id="nav-item1"><a id="nav-item1-a" style="text-decoration: none;" href="/cart">購物車</a></button>
                <div id="cart-item" style="display: none;"></div>
                <button class="nav-item2" id="nav-item2"><a id="nav-item2-a" style="text-decoration: none;" href="/login">會員登入</a></button>
                <select class="mem-dropdown" id="mem-dropdown" onchange=" 
                    if (this.selectedIndex==1) location = this.value;
                    if (this.selectedIndex==2) location = this.value;
                    if (this.selectedIndex==3) location = this.value;
                    if (this.selectedIndex==4) logout();">
                        <option value="" disabled selected>會員選單</option>
                        <option class="drowpdown-mem-info" value="member"><a id="drowpdown-mem-info-a" href="/member">會員資料</a></option>
                        <option class="drowpdown-mem-info" value="password"><a id="drowpdown-mem-info-a" href="/password">更改密碼</a></option>
                        <option class="drowpdown-mem-info" id="dorpdown-mywear" ><a id="drowpdown-mem-info-a" href="/password">MyWear</a></option>
                        <option class="dropdown-logout">登出</option>
                </select>
            </div>
        </div>
        <div class="mywear-profile-wrapper">
            <div class="mywear-container">
                <div class="mywear-profile">
                    <div id="mywear-profile-pic">
                        <img src="../static/photo/sample3.png">
                    </div>

                    <div id="mywear-desc">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem beatae, corporis porro quisquam magni, ullam laborum culpa quae, et ex eligendi eum nobis a nemo voluptatum commodi consequuntur excepturi aliquid.
                    </div>
                </div>
            </div>

            <div class="mywear-option-container">
                <div id="show-submit-window" onclick="showSubmitWindow();" style="display: none;">上傳貼文</div>
            </div>

            <div class="submit-window-block" id="submit-window-block">
                <div id="submit-window">
                    <div id="bar">建立貼文<img onclick="closeSubmitWindow();" src="../static/photo/close.png" style="height: 20px;float: right;cursor: pointer;margin: 2px 0 0;"></div>

                    <!-- 1 -->
                    <div>
                        <div class="upload-container" id="upload-container-1">
                            <label for="file-upload" class="custom-file-upload" id="upload-label">新增相片或拖曳</label>
                            <input type="file" id="file-upload" onchange="showPreview(event);" />
                            <div class="preview" id="preview-container">
                                <img id="preview-cncl-btn" onclick="closePreviewImg();" src="../static/photo/cancel.png">
                                <img id="file-ip-1-preview">
                            </div>

                            <!-- <div id="wear-upload-spinner">
                            </div> -->
                            <div class="wear-upload-container" id="wear-upload-spinner">
                                <svg role="status" class="spinner animation-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"></path>
                                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"></path>
                                </svg>
                            </div>

                            <div id="wear-upload-msg" style="position: absolute;bottom: 60px;color: red;font-weight: bold;">

                            </div>
                            <div id="selected-item-1">

                            </div>
                            <br>
                            <div style="text-align: center;position: absolute;bottom: 20px;display: flex;">

                                <button id="c1-prev" style="margin: 0 2px; display: none;" class="upload-btn prev" onclick="nextStep('upload-container-1', 'upload-container-2');switchBtnPrev();">上一步</button>
                                <button id="c1-next" class="upload-btn next" style="margin: 0 2px;display: block;" onclick="nextStep('upload-container-1', 'upload-container-2');">下一步</button>
                                <button id="upload-btn" class="upload-btn" onclick="submitMywear()" style="display: none;">發佈上傳</button>
                            </div>
                        </div>

                    </div>


                    <!-- 2 -->
                    <div class="upload-container" id="upload-container-2">
                        <div style="width: 90%;">
                            <div id="select-cate">
                                <div style="border-top: 1px solid #d9d9d9;">上衣</div>
                                <table>
                                    <tr>
                                        <td onclick="nextStep('upload-container-2', 'upload-container-3');selectProduct(this.innerHTML);">T-SHIRT</td>
                                        <td onclick="nextStep('upload-container-2', 'upload-container-3');selectProduct(this.innerHTML);">SHIRTS</td>
                                    </tr>
                                    <tr>
                                        <td onclick="nextStep('upload-container-2', 'upload-container-3');selectProduct(this.innerHTML);">KNIT</td>
                                        <td onclick="nextStep('upload-container-2', 'upload-container-3');selectProduct(this.innerHTML);">POLO</td>
                                    </tr>
                                    <tr>
                                        <td onclick="nextStep('upload-container-2', 'upload-container-3');selectProduct(this.innerHTML);">HOODIE</td>
                                        <td onclick="nextStep('upload-container-2', 'upload-container-3');selectProduct(this.innerHTML);">OTHERTOPS</td>
                                    </tr>
                                </table>
                                <div>下裝</div>
                                <table>
                                    <tr>
                                        <td onclick="nextStep('upload-container-2', 'upload-container-3');selectProduct(this.innerHTML);">JEANS</td>
                                        <td onclick="nextStep('upload-container-2', 'upload-container-3');selectProduct(this.innerHTML);">SHORTS</td>
                                    </tr>
                                    <tr>
                                        <td onclick="nextStep('upload-container-2', 'upload-container-3');selectProduct(this.innerHTML);">SUITPANTS</td>
                                        <td onclick="nextStep('upload-container-2', 'upload-container-3');selectProduct(this.innerHTML);">PANTS</td>
                                    </tr>
                                    <tr>
                                        <td onclick="nextStep('upload-container-2', 'upload-container-3');selectProduct(this.innerHTML);">OTHERS</td>
                                        <td></td>
                                    </tr>
                                </table>
                                <div>外套類</div>
                                <table>
                                    <tr>
                                        <td onclick="nextStep('upload-container-2', 'upload-container-3');selectProduct(this.innerHTML);">JACKET</td>
                                        <td onclick="nextStep('upload-container-2', 'upload-container-3');selectProduct(this.innerHTML);">COAT</td>
                                    </tr>
                                    <tr>
                                        <td onclick="nextStep('upload-container-2', 'upload-container-3');selectProduct(this.innerHTML);">SUIT</td>
                                        <td onclick="nextStep('upload-container-2', 'upload-container-3');selectProduct(this.innerHTML);">VEST</td>
                                    </tr>
                                    <tr>
                                        <td onclick="nextStep('upload-container-2', 'upload-container-3');selectProduct(this.innerHTML);">DENIM</td>
                                        <td onclick="nextStep('upload-container-2', 'upload-container-3');selectProduct(this.innerHTML);">OTHERS</td>
                                    </tr>
                                </table>
                            </div>
                            <div id="selected-item-2">

                            </div>
                            <div id="selected-cate"></div>
                        </div>
                        <br>
                        <div style="text-align: center;position: absolute;bottom: 20px;">
                            <button style="margin: 0;" class="upload-btn prev" onclick="nextStep('upload-container-2', 'upload-container-1');switchBtnNext();">上一步</button>
                            <button style="margin: 0;" class="upload-btn next" onclick="nextStep('upload-container-2', 'upload-container-1');switchBtnPrev();switchBtnNext('none');">下一步</button>
                        </div>
                    </div>

                    <!-- 3 -->
                    <div class="upload-container" id="upload-container-3">
                        <div id="cate-catalogue">

                        </div>

                        <br>
                        <div style="text-align: center;position: absolute;bottom: 20px;">
                            <button style="margin: 0;" class="upload-btn prev" onclick="nextStep('upload-container-3', 'upload-container-2');closeCate();">上一步</button>
                            <!-- <button style="margin: 0;" class="upload-btn next" onclick="nextStep('upload-container-2', 'upload-container-1');">下一步</button> -->
                        </div>
                    </div>

                </div>
            </div>

            <div class="mywear-pics-container" id="mywear-pics-container">
                <div class="mywear-pics">
                    <div class="three-pics">
                        <div>
                            <a>
                                <img src="../static/photo/sample2.jpg">
                            </a>
                        </div>
                        <div>
                            <a>
                                <img src="../static/photo/sample2.jpg">
                            </a>
                        </div>
                        <div>
                            <a>
                                <img src="../static/photo/sample2.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="three-pics">
                        <div>
                            <a>
                                <img src="../static/photo/sample2.jpg">
                            </a>
                        </div>
                        <div>
                            <a>
                                <img src="../static/photo/sample2.jpg">
                            </a>
                        </div>
                        <div>
                            <a>
                                <img src="../static/photo/sample2.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="three-pics">
                        <div>
                            <a>
                                <img src="../static/photo/sample2.jpg">
                            </a>
                        </div>
                        <div>
                            <a>
                                <img src="../static/photo/sample2.jpg">
                            </a>
                        </div>
                        <div>
                            <a>
                                <img src="../static/photo/sample2.jpg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="footer">SHOPWEAR</div>



    <script>
        window.onload = () => {
            loggedIn();
        }
    </script>

    <!-- <script>
        let page = 0;
        // 觸發條件後的回呼函式
        let showWear = (entry) => {
            if (entry[0].isIntersecting) {
                console.log("SCROLL showWear OK")
                memberId = window.location.pathname.split("/")[2];
                if (page != null) {
                    src = "/api/mywear/" + memberId + "?page=" + page;

                    fetch(src)
                        .then((response) => {
                            return response.json();
                        })
                        .then((result) => {
                            page = result.nextPage;
                            if (result.error) {
                                console.log("WEAR NO OK")
                                observer.unobserve(target);
                            } else {
                                let photoWrapper = document.createElement("div");
                                photoWrapper.className = "pics-set";
                                let photoCount = 1;
                                for (let i in result.data) {
                                    data = result["data"][i]
                                    let id = data["id"];
                                    let photo = data["photo"];
                                    let member = data["member_id"];
                                    let caption = data["caption"];

                                    let photoBox = document.createElement("div");
                                    let aTag = document.createElement("a");
                                    let img = document.createElement("img");

                                    photoBox.id = "pic" + photoCount;
                                    // a.href = 
                                    img.src = "http://d1pxx4pixmike8.cloudfront.net/mywear/1/" + photo;
                                    aTag.appendChild(img);
                                    photoBox.appendChild(aTag);
                                    photoWrapper.appendChild(photoBox);
                                    photoCount++;
                                }

                                document.getElementById("wear-pics").appendChild(photoWrapper)
                            }
                        })
                } else {
                    observer.unobserve(target);
                    console.log("unobserved");
                };
            }
        }

        // 觸發條件
        let options = {
            rootMargin: '20px',
            threshold: 0,
        };
        // 建立 IntersectionObserver物件
        let observer = new IntersectionObserver(showWear, options);
        const target = document.getElementById("end");
        observer.observe(target);
    </script> -->

</body>

</html>