<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>SHOPWEAR</title>
    <link rel="stylesheet" type="text/css" href="../static/mainstyle.css">
    <!-- Uncaught TypeError: Failed to execute 'observe' on 'IntersectionObserver': parameter 1 is not of type 'Element' -->
    <!-- 加上 "defer" 到<script> 避免 Uncaught TypeError -->
    <script type="text/javascript" src="../static/script/script.js" defer></script>
</head>

<body id="body">
    <div class="page-wrapper">
        <div class="topnav-container ">
            <div class="topnav">
                <a id="nav-title" href="/">SHOPWEAR</a>
                <button class="nav-item1" id="nav-item1"><a id="nav-item1-a" style="text-decoration: none;" href="/cart">購物車</a></button>
                <div id="cart-item" style="display: none;"></div>
                <button class="nav-item2" id="nav-item2"><a id="nav-item2-a" style="text-decoration: none;" href="/login">會員登入</a></button>
                <select class="mem-dropdown" id="mem-dropdown" onchange=" 
                    if (this.selectedIndex==1) location = this.value;
                    if (this.selectedIndex==2) location = this.value;
                    if (this.selectedIndex==3) location = this.value;
                    if (this.selectedIndex==4) logout();">
                        <option value="" disabled selected>會員選單</option>
                        <option class="drowpdown-mem-info" value="member"><a id="drowpdown-mem-info-a" href="/member">會員資料</a></option>
                        <option class="drowpdown-mem-info" value="password"><a id="drowpdown-mem-info-a" href="/password">更改密碼</a></option>
                        <option class="drowpdown-mem-info" id="dorpdown-mywear" ><a id="drowpdown-mem-info-a" href="/password">MyWear</a></option>
                        <option class="dropdown-logout">登出</option>
                </select>
            </div>
        </div>
        <div class="wear-wrapper">
            <div class="wear-desc">
                <div class="wear-desc-content" style="margin: 10px 0;font-weight: bold;color: #7b7b7b;">最新</div>
            </div>
            <div class="wear-pics-container">
                <div class="wear-pics" id="wear-pics">
                    <!-- <div class="pics-set">
                        <div id="pic1">
                            <a>
                                <img src="../static/photo/sample2.jpg">
                            </a>
                        </div>
                        <div id="pic2">
                            <a>
                                <img src="../static/photo/sample2.jpg">
                            </a>
                        </div>
                        <div id="pic3">
                            <a>
                                <img src="../static/photo/sample2.jpg">
                            </a>
                        </div>
                        <div id="pic4">
                            <a>
                                <img src="../static/photo/sample2.jpg">
                            </a>
                        </div>
                        <div id="pic5">
                            <a>
                                <img src="../static/photo/sample2.jpg">
                            </a>
                        </div>
                        <div id="pic6">
                            <a>
                                <img src="../static/photo/sample2.jpg">
                            </a>
                        </div>
                        <div id="pic7">
                            <a>
                                <img src="../static/photo/sample2.jpg">
                            </a>
                        </div>
                        <div id="pic8">
                            <a>
                                <img src="../static/photo/sample2.jpg">
                            </a>
                        </div>
                        <div id="pic9">
                            <a>
                                <img src="../static/photo/sample2.jpg">
                            </a>
                        </div>
                        <div id="pic10">
                            <a>
                                <img src="../static/photo/sample2.jpg">
                            </a>
                        </div>
                        <div id="pic11">
                            <a>
                                <img src="../static/photo/sample2.jpg">
                            </a>
                        </div> 
                        <div id="pic12">
                            <a>
                                <img src="../static/photo/sample2.jpg">
                            </a>
                        </div>
                    </div> -->

                </div>
            </div>

        </div>
    </div>

    <div id="footer">SHOPWEAR</div>
    <div id="end"></div>


    <script>
        window.onload = () => {
            loggedIn();
        }
    </script>

</body>

</html>