<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>SHOPWEAR</title>
    <link rel="stylesheet" type="text/css" href="../static/mainstyle.css">

</head>

<body id="body">
    <div class="page_container">
        <div class="page-wrapper">
            <div class="topnav-container ">
                <div class="topnav">
                    <a href="/">
                        <img id="shopwear" src="../static/photo/shopwear-2.png" style="height: 40px;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);">
                    </a>
                    <!-- <a id="nav-title" href="/">SHOPWEAR</a> -->
                    <button class="nav-item0" id="nav-item0"><a id="nav-item0-a" style="text-decoration: none;" href="https://dimalife.com/wear">穿搭牆</a></button>
                    <button class="nav-item1" id="nav-item1"><a id="nav-item1-a" style="text-decoration: none;" href="https://dimalife.com/cart">購物車</a></button>
                    <div id="cart-item" style="display: none;"></div>
                    <button class="nav-item2" id="nav-item2"><a id="nav-item2-a" style="text-decoration: none;" href="https://dimalife.com/login">會員登入</a></button>
                    <select class="mem-dropdown" id="mem-dropdown" onchange=" 
                    if (this.selectedIndex==1) location = this.value;
                    if (this.selectedIndex==2) location = this.value;
                    if (this.selectedIndex==3) location = this.value;
                    if (this.selectedIndex==4) location = this.value;
                    if (this.selectedIndex==5) logout();">
                        <option value="" disabled selected>會員選單</option>
                        <option class="drowpdown-mem-info" value="https://dimalife.com/member"><a id="drowpdown-mem-info-a" href="/member">會員資料</a></option>
                        <option class="drowpdown-mem-info" value="https://dimalife.com/password"><a id="drowpdown-mem-info-a" href="/password">更改密碼</a></option>
                        <option class="drowpdown-mem-info" value="https://dimalife.com/order"><a id="drowpdown-mem-info-a" href="/order">歷史訂單</a></option>
                        <option class="drowpdown-mem-info" id="dorpdown-mywear" ><a id="drowpdown-mem-info-a" >MyWear</a></option>
                        <option class="dropdown-logout">登出</option>
                    </select>
                </div>
            </div>
            <div class="wear-msg" id="ws-login">
                <div style="width: 100%;height: 8px;background: linear-gradient(to top, #2417d2 0%, #6e6fe5 100%);border-top-left-radius: 10px;border-top-right-radius: 10px;"></div>
                <div style="height: 72px;line-height: 72px;">請先登入會員</div>
            </div>
            <div class="wear-msg" id="ws-delete">
                <div style="width: 100%;height: 8px;background: linear-gradient(to top, #2417d2 0%, #6e6fe5 100%);border-top-left-radius: 10px;border-top-right-radius: 10px;"></div>
                <div style="height: 35px;line-height: 35px;border-bottom: 1px solid #d3d3d3;">刪除這則貼文?</div>
                <div style="display: flex;">
                    <div id="ws-delete-confm" style="display: inline-block;width: 150px;line-height: 35px;color: red;cursor: pointer;">
                        確認刪除
                    </div>
                    <div id="ws-delete-cancl" style="display: inline-block;border-left: 1px solid #d3d3d3;width: 150px;line-height: 35px;cursor: pointer;">
                        取消
                    </div>
                </div>
            </div>
            <div class="mem-container" id="mem-container">

                <div class="main-container" id="main-container">

                    <div class="wear-single-container">
                        <div class="wear-single">
                            <div id="wear-caresoul">
                                <div class="carousel" data-carousel>
                                    <button class="carousel-button prev" data-carousel-button="prev"><img src="../static/photo/btn_leftArrow.png"></button>
                                    <button class="carousel-button next" data-carousel-button="next"><img src="../static/photo/btn_rightArrow.png"></button>
                                    <div class="data-switch-input">
                                    </div>
                                    <ul class="wear-single-slide" id="slide-list" data-slides>

                                    </ul>
                                </div>
                            </div>

                            <div id="wear-desc">
                                <div id="wear_id" style="display: none;">21</div>
                                <div id="member_id" style="display: none;"></div>
                                <div style="display: flex;border-bottom: 1px solid #d6d6d6; align-items: center;position: relative;">
                                    <a id="wear-single-member">
                                        <img id="photo-sticker" src="../static/photo/member-icon-1.png">
                                        <a id="member_nickname" style="display: block;padding: 0 20px;text-decoration: none;color: #2e2e2e;font-weight: bold;height: 50px;line-height: 50px;"></a>
                                    </a>

                                    <img id="delete-dots" src="../static/photo/dots.png" style="display: none; height: 8%;width: 8%;margin-left: auto;margin-right: 10px;cursor: pointer;">
                                    <!-- <div style="position: absolute;width: 45px;height: 40px;line-height: 40px;background: white;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;font-weight: bold;color: red;border: 1px solid #d3d3d3;right: 2px;top: 55px;" id="delete-wear">刪除</div> -->
                                </div>
                                <div style="height: 40px;line-height: 40px;margin: 20px 0 0;font-weight: bold;padding: 0 20px;text-align: left;">搭配單品</div>
                                <div id="wear-products" style="height: 430px;overflow-y: auto;padding: 0 20px;"></div>
                                <div id="caption"></div>

                                <!-- <div id="content"></div> -->
                                <div class="wear-like" style="display: flex;align-items: center;padding: 0 20px;height: 50px;border-top: 1px solid #d6d6d6;">
                                    <div id="like-wrapper" style="position: relative;top: -3px;">
                                    </div>
                                    <div id="like-backdrop" onclick="backdrop();"></div>
                                    <span id="like-count" style="font-weight: bold;font-size: 14px;"></span>
                                </div>


                            </div>
                            <!-- <div>數量</div> -->
                            <!-- <button id="cart-btn">加入購物車</button> -->
                        </div>
                    </div>

                    <div id="more-post" style=" display: flex;width: 100%;justify-content: center;">
                        <div style="padding: 40px 0 0;margin: 50px 0 0;font-weight: bold;color: #7b7b7b;width: 900px;border-top: 1px solid #d3d3d3;">更多貼文</div>
                    </div>

                    <div class="other-wears-wrapper" style="margin: 10px 0 0;">
                        <div id="other-wears">

                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="footer-container">
            <div id="footer">SHOPWEAR</div>
        </div>

        <div id="end"></div> -->
        </div>
        <div id="footer">Copyright © 2022 SHOPWEAR / Dimitry Wu</div>
        <script type="text/javascript" src="../static/script/script.js"></script>

        <script>
            window.onload = () => {
                showWearDetail();
                loggedIn();
                showCart();
                // showOtherWears();
            }
            const backdrop = () => {
                document.getElementById('ws-login').style.display = "block";
                setTimeout(function() {
                    document.getElementById('ws-login').style.display = "none";
                }, 1500)
            }
            document.getElementById("delete-dots").addEventListener("click", () => {
                document.getElementById("ws-delete").style.display = "block";
            });
            document.getElementById("ws-delete-cancl").addEventListener("click", () => {
                document.getElementById("ws-delete").style.display = "none";
            });
            document.getElementById("ws-delete-confm").addEventListener("click", deleteWear);
        </script>
</body>

</html>